/* 
 * CSS utilites
 */

.flex {
   display: flex;
   gap: $gap;
}

.grid {
   display: grid;
   gap: $gap;
}

.container {
   padding-inline: 2em;
   margin-inline:  auto;
   max-width: 80rem;
}

// Only for screen readers
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

.bg {
   @each $name, $value in $colors {
      &-#{$name}  {
         background-color: $value;
      }
   }
}

.text {
   @each $name, $value in $colors {
      &-#{$name}  {
         color: $value;
      }
   }
}

.fs {
   @each $name, $value in $font-sizes {
      &-#{$name} {
         font-size: $value;
      }
   }
}

.ff {
   @each $name, $value in $fonts {
      &-#{$name} {
         font-family: $value;
      }
   }
}