/* 
 * CSS utilites
 */

.flex {
   display: flex;
   gap: $gap;
}

.grid {
   display: grid;
   gap: $gap;
}

.container {
   padding-inline: 2em;
   margin-inline:  auto;
   max-width: 80rem;
}

// Only for screen readers
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

.bg {
   @each $name, $value in $colors {
      &-#{$name}  {
         background-color: $value;
      }
   }
}

.text {
   @each $name, $value in $colors {
      &-#{$name}  {
         color: $value;
      }
   }
}

.fs {
   @each $name, $value in $font-sizes {
      &-#{$name} {
         font-size: $value;
      }
   }
}

.ff {
   &-serif {
      font-family: "Bellfair", serif,
   }
   &-sans-cond {
      font-family: "Barlow Condensed", sans-serif
   }
   &-sans-normal {
      font-family: "Barlow", sans-serif
   } 
}

/*
 * Shared style rules
*/

.content {
   padding-top: 40px;
   min-height: 100vh;
   overflow: hidden;
}

.box {
   flex-direction: row;
   justify-content: space-around;
   gap: 10em;
   align-items: center;

   .column1, .column2 {
      min-width: 445px;
      flex-direction: column;
   }
}

.cta {
   width: 274px;
   height: 274px;
   align-items: center;
   justify-content: center;
   border-radius: 300px;
   border: none;
   text-transform: uppercase;
   align-self: center;

   &:hover {
      outline: 88px solid rgba(255, 255, 255, 0.1);
   }

   a {
      text-decoration: none;
   }
}

/* 
 * Header style rules
 */

header {
   flex-direction: row;
   align-items: center;

   nav {
      max-width: 830px;
      max-height: 96px;
      padding-left: 123px;
      padding-right: 165px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
   }

   nav .navbar-list {
      flex-direction: row;

      a {
         text-decoration: none;
         text-transform: uppercase;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 19px;
         letter-spacing: 2.7px;
   
         span {
            font-weight: bold;
         }
      }   

      li {
         padding-inline: 14px;
         padding-top: 39px;
         padding-bottom: 35px;
         border-bottom: 3px solid transparent;
         text-align: center;
         width: max-content;
      }

      li.active, li:hover  {
         border-bottom: 3px solid #ffffff;
      }
   }

   .blank-line {
      height: 1px;
      min-width: 473px;
      display: block;
      position: relative;
      z-index: 10;
      background: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.25;
      left: 50px;
   } 
}

