#home {
   background-image: url('../assets/home/background-home-desktop.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   #content {
      margin-top: 251px;
      margin-bottom: 131px;

      h1 {
         line-height: 172px;
         text-transform: uppercase;
      }

      h5 {
         line-height: 34px;
         text-transform: uppercase;
      }

      p {
         line-height: 32px;
         text-align: justify;
      }
   }
}