#technology {
   @include Background('../assets/technology/background-technology-desktop.jpg');

   @media screen and (max-width: $breakpoint-tablet) {
      @include Background('../assets/technology/background-technology-tablet.jpg');
   }

   flex-direction: column;

   #content {
      margin-bottom: 101px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 4.5em;

      @media screen and (max-width: $breakpoint-tablet) {
         flex-direction: column-reverse;
      }

      .column1 {
         flex-direction: row;
         margin-left: 165px;
         gap: 2em;
         align-items: center;

         @media screen and (max-width: $breakpoint-tablet) {
            flex-direction: column;
            margin-left: 0;
         }

         #switcher {
            flex-direction: column;
            gap: 1.5em;

            @media screen and (max-width: $breakpoint-tablet) {
               flex-direction: row;
            }

            button {
               width: 80px;
               height: 80px;
               background-color: transparent;
               border: 1px solid #ffffff;
               border-radius: 50px;
   
               &:hover {
                  background-color: #ffffff;
                  color: #0B0D17;
               }
            }
         }

         #paragraph {
            flex-direction: column;
            width: 470px;
            
            h1 {
               line-height: 64px;
            }
   
            h3 {
               line-height: 19px;
               letter-spacing: 2.7px;
               text-transform: uppercase;
            }
         }

      }

      .column2 {
         flex-direction: column;
         width: 515px;
         height: 527px;
         @include Background('../assets/technology/image-launch-vehicle-portrait.jpg');

         @media screen and (max-width: $breakpoint-tablet) {
            width: 768px;
            height: 310px;
            margin-bottom: 60px;
            @include Background('../assets/technology/image-launch-vehicle-landscape.jpg');   
         }
      }
   }
}